<!DOCTYPE html>
<html lang="ja">
  <%- include('./includes/_head.ejs'); %>
  <body>
    <%- include('./includes/_header.ejs'); %> <%-
    include('./includes/_main.ejs'); %> <%- include('./includes/_footer.ejs');
    %>
    <script src="./dist/assets/js/common.js"></script>
  </body>
</html>
